{% extends 'base.html' %}

{% block title %}Create Inflow {% endblock %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Register New Inflow</h3>
    
    <div class="card">
        <div class="card-body">
            <form method="POST" action="{% url 'inflow-create' %}" class="form">
                {% csrf_token%}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Register Inflow</button>
            </form>
        </div>
    </div>
    <a href="{% url 'inflow-list' %}" class="btn btn-secondary mt-3">Cancel and Return to Inflows List</a>
</div>

{% endblock %}